In [1]:
#1. Create a string variable and print its length.

s = "keziya"

In [2]:
len(s)

6

In [3]:
2#.Take a string input from the user and print it in reverse.
user = input("enter the string")
reverse_string = user[::-1]

enter the string keziya

print("reverse string", reverse_string)

In [5]:
print("reverse string is", reverse_string)

reverse string is ayizek

In [15]:
#3. Replace all occurrences of "a" with "@" in a given string.
s="keziya"
s = s.replace('a','@')
print(s)

keziy@

In [ ]:
#4. Convert a string to all uppercase letters using a loop (without .upper()).
s = "keziya"

In [16]:
#5. Count how many times the letter "e" appears in a string.

s = "keziya"
s.count('e')

1

In [17]:
#6. Print the first and last character of a given string.
s = "keziya"
if len(s) > 0:
    print("First character:", s[0])
    print("Last character:", s[-1])
else:
    print("The string is empty.")

First character: k
Last character: a

In [21]:
#7. Concatenate two strings and print the result.
s = "keziya"
s + "yepuri"

'keziyayepuri'

In [28]:
#8. Check if a given string contains the word "Python".
s = "keziya yepuri"
"Python" in s

False

In [32]:
#9. Remove all spaces from a string and print the new string.
s = " This is my first python program"
"".join(s.split())

'Thisismyfirstpythonprogram'

In [35]:
s = "This is my first python program"
s = s.replace(" ", "")

In [36]:
s

'Thisismyfirstpythonprogram'

In [38]:
#10.Extract and print the first five characters of a string.
s = "keziya yepuri"
s[:5]

'keziy'

In [41]:
#11.Create a list of five numbers and print the list.
l = [1,2,3,4,5,]
print(l)

[1, 2, 3, 4, 5]

In [44]:
#12.Print the third element of a given list.
l = [1,2,3,4,5]
l[2]

3

In [48]:
#13.Replace the second element of a list with "hello".
l = [1,2,3,4,5]
l[1] = "hello"

In [49]:
l

[1, 'hello', 3, 4, 5]

In [50]:
#14.Add a new element to the end of a list.
l = [1,2,3,4,5]
l.append("keziya")

In [51]:
l

[1, 2, 3, 4, 5, 'keziya']

In [61]:
#15.Remove the last element from a list and print the modified list.
l = [1,2,3,4,5,6,"keziya"]
l.pop()

'keziya'

In [62]:
l

[1, 2, 3, 4, 5, 6]

In [64]:
#16.Print each element of a list one by one using a loop.

l = [1, 2, 3, 4, 5, "keziya"]

for item in l:
    print(item)

1
2
3
4
5
keziya

In [65]:
#17.Check if the number 10 is in a given list.
l = [1,2,3,4,5,5,8,5,9,5]
10 in l

False

In [69]:
#18.Create two lists and join them into one.
l1 = [2,3,4,5,6]
l2 = [7,6,4,8,4]

In [70]:
l3 = l1 + l2

In [71]:
l3

[2, 3, 4, 5, 6, 7, 6, 4, 8, 4]

In [72]:
#19.Print a list in reverse order without using slicing ([::-1]).
l = [1,2,3,4,5]
l.reverse()

In [73]:
l

[5, 4, 3, 2, 1]

In [74]:
#20.Sort a list in ascending order without using .sort().

l = [5, 8, 3, 9, 6, 0, 1]

# we using Simple Bubble Sort
for i in range(len(l)):
    for j in range(len(l) - 1):
        if l[j] > l[j + 1]:
        
            l[j], l[j + 1] = l[j + 1], l[j]

print("Sorted list:", l)

Sorted list: [0, 1, 3, 5, 6, 8, 9]